/*  your css code here. If applicable */
body{
	background:rgb(135, 206, 235);

/* 	color:skyblue; */
}
.first-para-background{
	background:black;
		color:white;
}
.last-para-background{
	color:red;
}
li:first-child{
	background:white;
}
li:last-child{
	background:white;
}
li:nth-child(3){
	background:pink;
}
li:nth-child(2){
	background:slategray;
}
li:nth-child(4){
	background:slategray;
}